
    <div style="margin-top: 0; background-color: lightgray ; padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Sanjeevini Clinic</h2>
                    <h6>
                        100/2, Malleshwaram, <br>Bengaluru, Karnataka 560003
                    </h6>
                    <h5>
                        Contact us - <br>080 4219 9437 <br> Sanjeevini167@gmail.com
                    </h5>
                </div>
                <div class="col-3">
                    <h5>
                        Connect with us on
                    </h5>
                    <ul style="list-style-type: none;">
                        <li><a href="https://fb.com">Facebook</a></li>
                    </ul>
                    <ul style="list-style-type: none;">
                        <li><a href="https://twitter.com">Twitter</a></li>
                    </ul>
                    <ul style="list-style-type: none;">
                        <li><a href="https://instagram.com">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <center>Built with 💕 using Node</center>
        </div>
    </div>


    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>