

    

    <div style="margin-top: 0; background-color: lightgray ; padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Sanjeevini Clinic</h2>
                    <h6>
                        100/2, Malleshwaram, <br>Bengaluru, Karnataka 560003
                    </h6>
                    <h5>
                        Contact us - <br>080 4219 9437 <br> sanjeevini167@gmail.com
                    </h5>
                </div>
                <div class="col-6 text-right">
                    <h5>
                        Connect with us on
                    </h5>
                    <a href="https://fb.com" class="kIcon"> <i class="fab fa-facebook-square"></i> </a>
                
                </div>
            </div>
            <hr>
            <center>Built with 💕 using Node</center>
        </div>
    </div>


    <button id="btnScrollToTop">
		<i class="fas fa-arrow-up"></i>
	</button>


    <!-- JS Libraries -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js" integrity="sha512-m0RQU4SBx0p/bLwRiI4fJBGRafVLZ4s86wRe1+OAx5EXbcWiS/X1jvYdJQRD8jOoIVl+WTyVeMawUWVCh1O8+Q==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="/script.js"></script>
    
    
</body>
</html>