<%- include('partials/header') %>




    <div class="container" style="margin-top: 20px; margin-bottom: 20px;"> 
        
        <center><h1>Our Doctors</h1></center>
        <hr>
        <div class="card-deck" style="margin-top: 20px;">
            <div class="card rounded kCard">
                <img src="images/doctors/dr_rekha.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr. Rekha Gogi 
                        <span class="badge badge-pill badge-primary">MBBS, DGO</span></h5>
                    <p class="card-text">
                        Visiting Consultant at: Manipal & Cloudnine Hospitals, Malleshwaram. <br>
                        Columbia Asia Hospital, Yeshwanthpur
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="fas fa-phone"></i> 9902761115 <br>
                        <i class="fas fa-envelope"></i> regogi@gmail.com
                    </small>
                </div>
            </div>
            <div class="card rounded kCard">
                <img src="images/doctors/dr_abhishek.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr. Abhishek M L <span class="badge badge-pill badge-primary">MBBS, DPM, DNB</span></h5></h5>
                    <p class="card-text">
                        Consultant Psychiatrist <br>
                        Research Faculty at IISc Bangalore
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="fas fa-phone"></i> 8105049814<br>
                        <i class="fas fa-envelope"></i> mlabhi0003@gmail.com
                    </small>
                </div>
            </div>
            <div class="card rounded kCard">
                <img src="images/doctors/dr_tulsi.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr. Archana Nagarkar <span class="badge badge-pill badge-primary">BDS</span></h5>
                    <p class="card-text">
                        Dental Surgeon
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="fas fa-phone"></i> 9980798081 <br>
                        <i class="fas fa-phone" style="display: none;"></i>  <br>
                    </small>
                </div>
            </div>

            <div class="card rounded kCard">
                <img src="images/doctors/dr_tulsi.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dr. Archana Nagarkar <span class="badge badge-pill badge-primary">BDS</span></h5>
                    <p class="card-text">
                        Dental Surgeon
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="fas fa-phone"></i> 9980798081 <br>
                        <i class="fas fa-phone" style="display: none;"></i>  <br>
                    </small>
                </div>
            </div>

        </div>
    </div>


<%- include('partials/footer') %>