<%- include('partials/header') %>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<div class="container-fluid">
        <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
           
            <div class="carousel-cell">
                <img src="images/reception.jpeg" class="img-fluid" alt="Banner 7">
            </div>
            <div class="carousel-cell">
                <img src="images/rekha_room.jpg" class="img-fluid" alt="Banner 9">
            </div>
            <div class="carousel-cell">
                <img src="images/scan_room.jpg" class="img-fluid" alt="Banner 14">
            </div>
            
            <div class="carousel-cell">
                <img src="images/waiting_room.jpg" class="img-fluid" alt="Banner 17">
            </div>
            <div class="carousel-cell">
                <img src="images/waiting_room_2.jpg" class="img-fluid" alt="Banner 18">
            </div>
        </div>
    </div>
<%- include('partials/footer') %>