<%- include('partials/header') %>
<div class="heading">Services</div>
<div align="center" class="Services jumbotron">
      <div class="row">
            <div class="service1 col-md-3">
                  <h3>Specialist Consultaion</h3>
                  <img class="image" src="images/Logos/specialist.png">
                  <br><br>
                  <h4><span class="badge badge">OBS</span></h4>
                  <h4><span class="badge badge">Gynaecology</span></h4>
                  <h4><span class="badge badge">Fetal Medicine</span></h4>
                  <h4><span class="badge badge">Psychiatry</span></h4>
                  <h4><span class="badge badge">Pardiatrics</span></h4>
                  <h4><span class="badge badge">Immunology and Allergy</span></h4>
                  <h4><span class="badge badge">Breast Oncology</span></h4>
                  <h4><span class="badge badge">Dentistry</span></h4>
            </div>
            <div class="service1 col-md-3">
                  <h3>Radiology</h3>
                  <img class="image" src="images/Logos/radiology.png">
                  <br><br>
                  <h4><span class="badge badge">Pregnancy Scans</span></h4>
                  <h4><span class="badge badge">General Scans</span></h4>
            
            </div>
            <div class="service1 col-md-3">
                  <h3>Infertility</h3>
                  <img class="image" src="images/Logos/infertility.png">
                  <br><br>
                  <h4><span class="badge badge">Andrology</span></h4>
                  <h4><span class="badge badge">IUI</span></h4>

            </div>
            <div class="service2 col-md-3">
                  <h3>Laboratory</h3>
                  <img class="image" src="images/Logos/lab.png">
                  <br><br>
                  <h4><span class="badge badge">OBS</span></h4>
                  <h4><span class="badge badge">Gynaecology</span></h4>
                  <h4><span class="badge badge">Infertility</span></h4>
                  <h4><span class="badge badge">Fetal Medicine</span></h4>
                  <h4><span class="badge badge">Psychiatry</span></h4>
                  <h4><span class="badge badge">Pardiatrics</span></h4>
                  <h4><span class="badge badge">Immunology and Allergy</span></h4>
                  <h4><span class="badge badge">Breast Oncology</span></h4>
                  <h4><span class="badge badge">Dentistry</span></h4>
            </div>
      </div>
</div>
<%- include('partials/footer') %>