<%- include('partials/header') %>
<div class="container" style="padding: 10px;">
      <h1><center>Services</center></h1>
      <hr>
</div>
<div align="center" class="Services jumbotron">
      <div class="row">
            <div class="service1 col-md-3">
                  <h3>Specialist Consultation</h3>
                  <img class="image" src="images/Logos/specialist.png">
                  <br><br>
                  <h4><span class="badge sike">Obstetrics</span></h4>
                  <h4><span class="badge sike">Gynaecology</span></h4>
                  <h4><span class="badge sike">Fetal Medicine</span></h4>
                  <h4><span class="badge sike">Psychiatry</span></h4>
                  <h4><span class="badge sike">Pediatrics</span></h4>
                  <h4><span class="badge sike">Immunology and Allergy</span></h4>
                  <h4><span class="badge sike">Breast Oncology</span></h4>
                  <h4><span class="badge sike">Dentistry</span></h4>
            </div>
            <div class="service1 col-md-3">
                  <h3>Ultra Sonology</h3>
                  <img class="image" src="images/Logos/radiology.png">
                  <br><br>
                  <h4><span class="badge">Pregnancy Scans (fetal medicine)</span></h4>
                  <h4><span class="badge">Gynaecology Scans</span></h4>
                  <h4><span class="badge sike">Abdomen/ Pelvis Scans</span></h4>
                  <h4><span class="badge sike">Breast Scans</span></h4>
            </div>
            <div class="service1 col-md-3">
                  <h3>Infertility</h3>
                  <img class="image" src="images/Logos/infertility.png">
                  <br><br>
                  <h4><span class="badge sike">Andrology Lab</span></h4>
                  <h4><span class="badge sike">Specialist Consultaions: <br><br><ul>
                        <li class="list-serv">Male infertility</li>
                        <li class="list-serv">Female infertility</li>
                        <li class="list-serv">Intra-Uterine Insemination</li>
                        <li class="list-serv">Fertility Scans</li>
                        <li class="list-serv">IVF Counselling and workup</li>
                  </ul></span></h4>

            </div>
            <div class="service2 col-md-3">
                  <h3>Laboratory</h3>
                  <img class="image" src="images/Logos/lab.png">
                  <br><br>
                  <p>Affiliated to RV Metropolis and Diagnistic <br>and Healthcare Centre Pvt Ltd, Malleswaram</p>
            </div>
      </div>
</div>
<%- include('partials/footer') %>