<%- include('partials/header') %>
<div class="heading">Services</div>
<div align="center" class="Services jumbotron">
      <div class="row">
            <div class="service1 col-md-3">
                  <h1>Web Design</h1>
                  <img class="image" src=#>
                  <p>This is a -- service offered in the clinic</p>
            </div>
            <div class="service1 col-md-3">
                  <h1>Web Design</h1>
                  <img class="image" src=#>
                  <p>This is a -- service offered in the clinic</p>
            </div>
            <div class="service1 col-md-3">
                  <h1>Web Design</h1>
                  <img class="image" src=#>
                  <p>This is a -- service offered in the clinic</p>
            </div>
            <div class="service1 col-md-3">
                  <h1>Web Design</h1>
                  <img class="image" src=#>
                  <p>This is a -- service offered in the clinic</p>
            </div>
      </div>
</div>
<%- include('partials/footer') %>